[project]
name = "python"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.9"
dependencies = [
    "numpy>=2.0.2",
    "pytest>=8.4.2",
    "qiskit>=2.2.3",
]

[dependency-groups]
dev = [
    "jupyter>=1.1.1",
    "notebook>=7.5.1",
]
